<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.dawnlight.chronicle_dawnlight.mapper.TransactionCategoryMapper">

    <insert id = "batchInsert">
        INSERT INTO transaction_categories (name, user_id, created_at, updated_at)
        VALUES (#{category.name}, #{category.userId}, NOW(), NOW())
    </insert>
    <insert id="create">
        INSERT INTO transaction_categories (name, user_id, created_at, updated_at)
        VALUES (#{name}, #{userId}, NOW(), NOW())
    </insert>
    <select id = "getAllCategory"
            resultType = "com.dawnlight.chronicle_dawnlight.pojo.vo.TransactionCategoryVO">
        SELECT id, name
        FROM transaction_categories
        WHERE user_id = #{userId}
    </select>
    <delete id="delete">
        DELETE
        FROM transaction_categories
        WHERE id = #{id}
    </delete>
</mapper>
