<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "come.dawnlight.chronicle_dawnlight.mapper.ToolsMapper">
    <select id = "getTouhouUrl" resultType = "java.lang.String">
        select C1
        from touhouproject_wallpaper_url
        order by rand()
        limit 1;
    </select>
</mapper>
