<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "come.dawnlight.chronicle_dawnlight.mapper.UserMapper">
    <insert id = "registerUser" parameterType = "come.dawnlight.chronicle_dawnlight.pojo.po.UserPO">
        INSERT INTO user (id, username, password, email, avatar, status, role, created_at, updated_at)
        VALUES (#{user.id}, #{user.username}, #{user.password}, #{user.email}, #{user.avatar},
                #{user.status}, #{user.role}, #{user.createdAt}, #{user.updatedAt});
    </insert>
    <select id = "loginByPassword" resultType = "java.lang.String">
        SELECT *
        FROM user
        WHERE username = #{identifier}
          AND password = #{password}
    </select>
    <select id = "selectByEmail" resultType = "java.lang.String">
        SELECT username
        FROM user
        WHERE email = #{email}
    </select>
    <update id = "update">
        UPDATE user
        <set>
            <if test = "avatar   != null">avatar   = #{avatar},</if>
            <if test = "username != null">username = #{username},</if>
            <if test = "password != null">password = #{password},</if>
            updated_at = #{updatedAt}
        </set>
        WHERE id = #{id}
    </update>
    <select id = "select" resultType = "java.lang.String">
        select id
        from user
        <where>
            <if test = "username != null">and username = #{username}</if>
            <if test = "email != null">and email = #{email}</if>
        </where>
    </select>
    <select id = "selectByUserName" resultType = "java.lang.String">
        select id
        from user
        where username = #{username}
    </select>
    <select id = "getUser" resultType = "come.dawnlight.chronicle_dawnlight.pojo.vo.UserVO">
        SELECT u.username,
               u.email,
               u.avatar,
               u.role,
               (SELECT COUNT(*) FROM article WHERE user_id = u.id)    AS article_count,
               (SELECT COUNT(*) FROM categories WHERE user_id = u.id) AS category_count
        FROM user u
        WHERE u.id = #{id}
    </select>
</mapper>
